.btn-break {
    background-color: #2ecc40;
}

.btn-break:hover {
    background-color: #24c236;
}

.btn-long-break {
    background-color: #ff851b;
}

.btn-long-break:hover {
    background-color: #f57b11;
}

.btn-break, .btn-long-break, .btn-break:hover, .btn-long-break:hover {
    color: #ffffff;
}

h1 {
    padding: 10px;
    font-weight: bold;
    color: #D5303E;
}

h1:after {
    float: right;
    display: block;
    width: 245px;
    height: 245px;
    content: ' ';
    background: url('../images/tomate_title.jpg') no-repeat;
}

.main {
    display: block;
    padding: 10px;
    text-align: center;
    max-width: 60%;
}
#settings {
    display: block;
    padding: 40px 10px 10px;
}

body, .progress-bar {
    background-color: #D5303E;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
#wrap {
    background-color: #FFFFFF;
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 20px -80px;
    /* Pad bottom by footer height */
    padding: 0 0 80px;
}

#footer {
    height: 80px;
    color: #ffffff;
    background-color: #3d9970;
    margin: 0 20px -20px;
    padding: 10px;
}

#footer:after {
    display: block;
    content: ' ';
    width: 100%;
    height: 2em;
}
#footer a {
    color: #ffffff;
    font-style: underline;
}
#chronometer {
    font-size: 600%;
    font-weight: bold;
    text-align: center;
    margin-bottom: -10px;
}
